.episode-page {
  background: $bg-gradient-episode;
  width: 100%;
  max-width: 654.969px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform-style: preserve-3d;
  color: $color-text-white;
  @include text-stroke($color-primary-dark);
  border: 3px solid $color-secondary;
  border-radius: 5px;
  position: relative;
  min-height: 225px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(
      to right,
      $color-primary-dark,
      $color-primary-light
    );
    opacity: 0.5;
    z-index: -1;
  }
  .episode-title {
    span:first-of-type {
      font-family: "Roboto", sans-serif;
    }
    font-family: "MedievalSharp", serif;
    color: $color-text-white;
    @include text-stroke($color-primary-dark);
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    span {
      margin-right: 10px;
    }
  }
  h1 {
    color: $color-text-white;
    @include text-stroke($color-primary-dark);
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 480px) {
      font-size: 1.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .episode-poster {
    // width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: linear-gradient(
      to bottom,
      $color-secondary,
      $color-secondary-dark
    );
    height: 200px;
    width: 160px;
    right: 10px;
    top: 10px;
    position: absolute;
    padding: 4px;
    @media screen and (max-width: 768px) {
      height: 150px;
      width: 120px;
    }
    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  p {
    width: 100%;
    margin-bottom: 20px;
    font-family: "Caudex", serif;
    max-width: 90%;
    padding-left: 20px;
  }
  .play-button {
    background-color: $color-secondary;
    color: $color-primary-dark;
    font-size: 1.25rem;
    box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.8);
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    &:hover {
      background-color: $color-secondary-light;
    }
  }
  .episode-info {
    width: 70%;
  }
  .episode-audio {
    display: flex;
    align-items: center;
    gap: 10px; // Adds some space between play and download buttons

    .download-button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px;

      .download-icon {
        width: 30px;
        height: 30px;
        transition: transform 0.2s;
      }

      &:hover .download-icon {
        transform: scale(1.1);
      }
    }
  }
}
