.footer {
  color: $color-white;
  height: $footer-height;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1; // lägger detta bakom allting i headern

    // background: linear-gradient(to top, $color-primary-dark, transparent);

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
}
