.main {
  // background: linear-gradient(
  //   to bottom,
  //   $color-primary-dark,
  //   $color-primary-light
  // );
  background: transparent;
  height: fit-content;
  min-height: 100vh;
  padding-top: $header-height;
  display: flex;
  justify-content: center;
  align-items: start;
}
